:root {
  --primary-color: #ECECEC;
  --secondary-color: #0C359E;
  --third-color: #1C3D6F;
  --four-color: #0C359E;
  --five-colors: #FFE3CA;
}

body {
  margin: 0;
  padding: 0;
  height: 90vh;
}

.home {
  width: 100%;
  height: 90vh;
  display: flex;
  /* justify-content: center; */
  margin: 0 !important;
  padding: 0 !important;
  flex-direction: column;
  align-items: center;
  background-color: #ececec;
}

.home .contentUtama {
  width: 30%;
  height: 100%;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  background: url('/bg2.png'), url('/bg1.png'), #fff;
  background-position: left top, right bottom;
  background-repeat: no-repeat no-repeat;
  background-size: 80%, 80%;
  font-family: "Gowun Batang", serif;
}

.home .contentUtama .sound {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--four-color);
  position: absolute;
  top: 70%;
  z-index: 0;
  /* bottom: 15%; */
  right: 37%;
  display: flex;
}

.homes {
  font-weight: 400;
  font-style: normal;
}

.homes h1 {
  font-size: 22px;
}

.home .nama{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('/bingkai1.png');
  background-size: 140%;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
}

.homes .nama h1 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  margin: 0px;
}

.homes h5 {
  font-family: "Lalezar", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--four-color);
}

.homes button {
  border: 0;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--four-color);
  color: #fff;
}


.contentUtama section {
  text-align: center;
}

.contentUtama section p {
  margin: 0;
}

.navbar {
  width: 30%;
  overflow-x: auto;
  height: 10%;
  display: flex;
  background-color: var(--third-color);
  position: absolute;
  bottom: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .navbar-item {
  display: flex;
  justify-content: space-between;
}

.navbar section {
  height: 50px;
  width: 50px;
  background-color: var(--five-colors);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar p {
  margin: 0 auto;
  font-size: 10px;
  color: var(--four-color);
  font-weight: 900;
}

.navbar svg{
  color: var(--four-color) !important; 
}

.navbar svg path{
  fill: var(--four-color) !important;
}

.quran>section,
.salam>section,
.gift section {
  padding: 5px 30px;
}

.quran {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background:  url('/bingkai.png');
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
}

.quran p {
  font-size: 14px;
}

.quran img{
  width: 130px;
  position: absolute;
  top: 27%;
  left: 46.5%;
}

.salam p {
  margin: 0;
  font-size: 14px;
}

.salam h3{
  color: var(--four-color);
}

.salam section div{
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--four-color);
  background-color: var(--five-colors);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--four-color);
  font-weight: 800;
}

.mempelai h3 {
  font-family: "Lobster", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: var(--four-color);
}

.mempelai p,
.maps p {
  margin: 0px auto !important;
  font-weight: 300;
}

.mempelai section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.mempelai section div, .mempelai section img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.mempelai section img{
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: top center;
}

.imgStat{
  height: 120px !important;
  width: 120px !important;
  /* margin-bottom: 30px; */
}

.maps button,
.gift>* button {
  background-color: var(--five-colors);
  color: var(--four-color);
  padding: 7px 10px;
  border-radius: 20px;
  border: 1px solid var(--four-color);
  margin: 0 auto auto;
}

.maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  align-items: center;
}

.maps .map {
  width: 80%;
  height: 40%;
  background-color: white;
  margin: auto auto 0;
}

.gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* padding: 50px 20px 100px; */
}

.gift>* {
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.containInput .inputUcapan {
  height: 50%;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  max-height: 50%;
  overflow-y: auto;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}

.containInput .inputUcapan section {
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  height: fit-content;
  text-align: left;
  padding: 7px;
}

.containInput .inputUcapan button {
  background-color: var(--third-color);
  padding: 0 10px;
  color: #fff;
  font-size: 10px;
  border-radius: 10px;
  border: 0;
  margin: 0 !important;
}

.gift .inputan {
  gap: 10px;
  margin-top: 50px;
}

.gift .rek{
  background-color: var(--third-color);
  width: fit-content;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
}

.containInput{
  position: absolute;
    width: 30%;
    background-color: rgba(126, 143, 240, 0.9); 
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
  cursor: pointer;
}

.gallery{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery section div{
  width: 100px;
  height: 100px;
  background-color: var(--five-colors);
}

.gallery h3{
  color: var(--four-color);
}

@media screen and (min-width: 221px) and (max-width: 480px) {

  .home, .containInput {
    width: 100%;
    height: 90vh;
  }

  .home .contentUtama {
    width: 100%;
    height: 90%;
  }

  .navbar {
    height: 10%;
    width: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navbar .navbar-item{
    /* width: 100%; */
  }

  .gift {
    /* padding: 20px 20px 70px; */
  }

  .gift h4 {
    margin-bottom: 0 !important;
    color: var(--four-color) !important;
  }

  .sound {
    right: 7% !important;
  }

  .inputUcapan{
    max-height: 60% !important;
    height: 60% !important;
  }
}